
rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    
    // PUBLIC READS for business info
    match /businesses/{businessId} {
      allow read: if true;
      // WRITES only for admin or assigned user
      allow write: if request.auth != null && (request.auth.token.email == "alcantara00789@gmail.com" || (get(/databases/$(database)/documents/users/$(request.auth.uid)).data.claimedBusinessId == businessId));
    }

    // Users can be read by anyone, but only updated by the owner
    match /users/{userId} {
      allow read: if true;
      allow create: if request.auth != null;
      allow update: if request.auth != null && request.auth.uid == userId;
    }

    // Participants of a connection can interact with it
    match /connections/{connectionId} {
      allow read, update: if request.auth != null && request.auth.uid in resource.data.userIds;
      allow create: if request.auth != null;
    }

    // Participants can send and read messages
    match /connections/{connectionId}/messages/{messageId} {
      allow read, create: if request.auth != null && get(/databases/$(database)/documents/connections/$(connectionId)).data.userIds.hasAny([request.auth.uid]);
    }

    // Anyone can read reviews, but only authenticated users can create them
    match /reviews/{reviewId} {
        allow read: if true;
        allow create: if request.auth != null;
    }
  }
}
