
rules_version = '2';

service firebase.storage {
  match /b/{bucket}/o {
    // Permitir a los usuarios leer y escribir avatares solo en su propia carpeta designada.
    // El usuario debe estar autenticado y su UID debe coincidir con el de la carpeta.
    match /avatars/{userId}/{allPaths=**} {
      allow read, write: if request.auth != null && request.auth.uid == userId;
    }
  }
}
