rules_version = '2';

service firebase.storage {
  match /b/{bucket}/o {
    // Reglas para los avatares de usuario
    match /avatars/{userId}/{allPaths=**} {
      // Cualquiera puede ver los avatares (son imágenes de perfil públicas).
      allow read;
      
      // Solo el propietario del perfil puede subir o modificar su propio avatar.
      allow write: if request.auth != null && request.auth.uid == userId;
    }
  }
}
