
rules_version = '2';

service firebase.storage {
  match /b/{bucket}/o {
    // This rule allows any authenticated user to read and write any file.
    // WARNING: This is insecure for production. You should secure your data
    // before launching your app.
    match /{allPaths=**} {
      allow read, write: if request.auth != null;
    }
  }
}
